
:root {
    --borderText : #4bdfdf;
    --middleBlue : #3dabdb;
    --background: #1f4d6a;
    --darkerGreen : #6ef9a3;
    --contrast : #f2df4f;
    --blacky : #2e0612;
  }
* {
    padding: 0;
    margin: 0;
  }
  
 /*  @import url("../../public/fonts/the_midnight/The\ Midnight\ DEMO.otf")

  @font-face {
    font-family: "Midnight";
    src: url("../../public/fonts/the_midnight/The\ Midnight\ DEMO.otf");
  } */
  
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      
        no-repeat center center/cover;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    background-image: url("/images/home_page/background_homepage.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    width: auto\9; 
    
  }
  
  div {
    margin: 0.5rem; 
    padding: 0.3rem;    
  }



  p {
    font-family: 'VT323', monospace;
    color: var(--borderText);
    background-color: var(--background);
  }
      
  
  div > div > .right {
    margin: 2.5rem;
  }
  div > div > .left {
    margin: 2.5rem;
  }
  
  
  a {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: white;
    text-transform: uppercase;
  }
  
  .btn {
    text-decoration-color: var(--blacky);
    color: #2e0612;
    border: 1px solid rgb(78, 80, 186);
    position: relative;
    overflow: hidden;
    text-shadow: #6d87e0;
    display: flex;
    size: 64px;
   /* ie8 */
  }
  
  .btn:hover {
    box-shadow: 1px 1px 50px 10px rgba(214, 118, 233, 0.4);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(
      100deg,
      transparent,
      rgba(179, 113, 227, 0.4),
      transparent
    );
    transition: all 1100ms;
  }
  
  .btn:hover:before {
    left: 100%;
  }