
:root {
    --borderText : #4bdfdf;
    --middleBlue : #3dabdb;
    --background: #1f4d6a;
    --darkerGreen : #6ef9a3;
    --clancyPurpl : #d534b7;
    --multiverseNet : #fa3496;
    --contrast : #f2df4f;
    --blacky : #2e0612;
    --nebula : #13334a;
  }
* {
    padding: 0;
    margin: 0;
  }
  
 /*  @import url("../../public/fonts/the_midnight/The\ Midnight\ DEMO.otf")

  @font-face {
    font-family: "Midnight";
    src: url("../../public/fonts/the_midnight/The\ Midnight\ DEMO.otf");
  } */
  
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      
        no-repeat center center/cover;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    background-image: url("https://64.media.tumblr.com/9718d862bd0824c3318b9ecb9995629d/4f8b8bb03c05c8f7-f9/s1280x1920/a53fc2fa3d1376181cc3ee57a8cc2d20422e404f.gif");
    background-size: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    width: auto\9; 
    border-style: double;
    border-color: var(--nebula);
    border-width: 4px;
    
  }
  .around {
    background-image: url(../../public/images/nebula_background.jpg);
    border-style: double;
    border-color: var(--blacky);
  }

 
 
  
  div > .container{
    margin: 0; 
    padding: 0.3rem;    
    height: 85vh;
  }



  p {
    font-family: 'VT323', monospace;
    color: var(--borderText);
    background-color: var(--background);
  }
      
  div > div {
    justify-content: space-around;
  }
  
  div > div > .right {
    margin: 2.5rem;
   
   
  }
  div > div > .left {
    margin: 2.5rem;
    
  }
  
  
  a {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: white;
    text-transform: uppercase;
  }
  
  .btn {
    background-color: #4bdfdf;
    border-radius: 15%;
    text-shadow: #1f4d6a;
    border: 1px solid rgb(78, 80, 186);
    position: relative;
    overflow: hidden;
    text-shadow: #6d87e0;
    display: flex;
    font-size:x-large;
    text-transform: uppercase;
    font-family: 'VT323', monospace;
    color: var(--borderText);
    background-color: var(--background);
   /* ie8 */
  }
  
  .btn:hover {
    box-shadow: 1px 1px 50px 10px rgba(214, 118, 233, 0.4);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(
      100deg,
      transparent,
      rgba(179, 113, 227, 0.4),
      transparent
    );
    transition: all 1100ms;
  }
  
  .btn:hover:before {
    left: 100%;
  }